body{
    background-color: hsl(217, 28%, 15%);
    margin: 0;
    font-family: 'Open Sans';
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    padding: 70px;
}

header{
    background: url("./images/bg-curvy-desktop.svg") no-repeat;
    background-position: bottom;
    background-size: 100%;
    position: relative;
}

ul{
    list-style: none;
    margin-left: auto;
    text-align: center;
}
li{
    display: inline-block;
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: 700;
    text-decoration: underline;
    transition: all .1s ease-in-out;
}

section{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    padding-bottom: 100px;
}

img{
    max-width: 600px;
}

section > div > h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

header > section > div{
    grid-column: 2;
    display: grid;
    text-align: center;
}