body{
    background-color: hsl(217, 28%, 15%);
    margin: 0;
}


header{
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    margin: 70px;
}

ul{
    list-style: none;
    margin-left: auto;
    text-align: center;
}
li{
    display: inline-block;
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: 700;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}